## Notebook to draw links between quotebank and our movie dataset

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from tqdm import tqdm

In [9]:
year = "2017"
#movie crew
df1 = pd.read_csv("movie_data_2015_2020.csv")
df1.head()
df1 = df1[df1["category"]!="archive_footage"]
df1 = df1[df1["characters"]!="[\"Self\"]"]

In [10]:
def process_chunk(chunk):
    print(f'Processing chunk with {len(chunk)} rows')
    print(chunk.columns)
    #here you can filter etc
 
# read df chunk by chunk, long! 
with pd.read_json(f'../../data/quotes-{year}.json.bz2', lines=True, compression='bz2', chunksize=1000000) as df_reader:
    pbar = tqdm(enumerate(df_reader))
    for i,chunk in pbar:
        if i == 0:
            quotes = chunk[chunk["speaker"].isin(df1["primaryName"])]
        else:
            quotes = pd.concat((quotes,chunk[chunk["speaker"].isin(df1["primaryName"])]))
        pbar.set_description(f"Number of quotes {quotes.shape[0]}")

Number of quotes 651241: : 27it [26:14, 58.31s/it]

In [11]:
print(f"**{quotes.shape[0]} citations founds :)**")

**651241 citations founds :)**

In [12]:
quotes.head()

,quoteID,quotation,speaker,qids,date,numOccurrences,probas,urls,phase
23,2017-11-02-082415,"I've just started a production company, so I'm...",Maisie Williams,[Q234363],2017-11-02 08:26:49,4,"[[Maisie Williams, 0.8412], [None, 0.1408], [R...",[http://www.nme.com/news/tv/maisie-williams-ga...,E
34,2017-11-24-000160,"[ In ] Dia de los Muertos, the whole point is ...",Lee Unkrich,[Q380920],2017-11-24 09:00:14,1,"[[Lee Unkrich, 0.9533], [None, 0.0467]]",[http://www.slashfilm.com/cocos-family/],E
58,2017-07-19-000396,[ Producers ] said Saru is the Spock of the se...,Doug Jones,"[Q1251779, Q16142774, Q30122825, Q461309, Q530...",2017-07-19 17:07:28,2,"[[Doug Jones, 0.8193], [None, 0.1807]]",[http://comicbook.com/2017/07/19/star-trek-dis...,E
93,2017-06-26-058719,"Jackie keeps Quan well-grounded, Pierce keeps ...",Martin Campbell,"[Q1445998, Q282033]",2017-06-26 11:10:18,1,"[[Martin Campbell, 0.8054], [None, 0.0986], [J...",[http://rssfeeds.usatoday.com/~/376286728/0/us...,E
137,2017-06-20-067359,Joe's folks are afraid Taylor is going to swal...,Joe Alwyn,[Q27440303],2017-06-20 00:27:00,1,"[[Joe Alwyn, 0.5531], [None, 0.3135], [Cedric ...",[http://jezebel.com/kim-kardashians-lessons-le...,E

In [13]:
quotes.to_csv(f"movie_{year}_crew_quotes.csv.gz",compression='gzip')

In [14]:
quotes.groupby("speaker").agg(count=("speaker","count")).sort_values(["count"],ascending=False)

                    count
speaker
Jimmy Kimmel         8421
Roy Moore            5747
John Fox             4282
Selena Gomez         3926
Kyrie Irving         3810
...                   ...
Ally Ioannides          1
Andrew Hollander        1
Gonzalo Maza            1
Cary Joji Fukunaga      1
Linda Reisman           1

[3711 rows x 1 columns]

In [8]:
df1.shape

(9999, 39)

In [5]:
df1[df1["primaryName"]=="Kobe Bryant"]

,Unnamed: 0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,...,ordering_y,nconst,category,job,characters,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
9261,9261,tt7935892,movie,The Oscar Nominated Short Films 2018: Live Action,The Oscar Nominated Short Films 2018: Live Action,0.0,2018.0,NaN,96.0,"Action,Drama",...,1.0,nm1101483,actor,NaN,NaN,Kobe Bryant,1978.0,2020.0,"producer,writer,actor","tt7935892,tt1442437,tt1528854,tt6794476"

In [17]:
df1[df1["category"]=="archive_footage"]

,Unnamed: 0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,...,ordering_y,nconst,category,job,characters,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
1300,1300,tt2870648,movie,Amy,Amy,0.0,2015.0,NaN,128.0,"Biography,Documentary,Music",...,1.0,nm1561881,archive_footage,NaN,"[""Self""]",Amy Winehouse,1983.0,2011.0,"soundtrack,composer,music_department","tt5164214,tt2194499,tt1343092,tt2870648"
1303,1303,tt2870648,movie,Amy,Amy,0.0,2015.0,NaN,128.0,"Biography,Documentary,Music",...,4.0,nm1258970,archive_footage,NaN,"[""Self""]",Russell Brand,1975.0,NaN,"actor,producer,writer","tt1336608,tt1334512,tt1226229,tt0800039"
1312,1312,tt6322922,movie,An Inconvenient Sequel: Truth to Power,An Inconvenient Sequel: Truth to Power,0.0,2017.0,NaN,98.0,Documentary,...,4.0,nm0001051,archive_footage,NaN,"[""Self""]",Bill Clinton,1946.0,NaN,"producer,actor,writer","tt12660626,tt7689964,tt0108515,tt7466880"
1528,1528,tt8760684,movie,Apollo 11,Apollo 11,0.0,2019.0,NaN,93.0,"Documentary,History",...,1.0,nm0035842,archive_footage,NaN,"[""Self - Mission Commander""]",Neil Armstrong,1930.0,2012.0,"actor,camera_department","tt0101886,tt0418795,tt0312305,tt14747578"
1529,1529,tt8760684,movie,Apollo 11,Apollo 11,0.0,2019.0,NaN,93.0,"Documentary,History",...,2.0,nm0172531,archive_footage,NaN,"[""Self - Command Module Pilot""]",Michael Collins,1930.0,2021.0,"actor,cinematographer,camera_department","tt0925248,tt9395794,tt0403702,tt8760684"
1530,1530,tt8760684,movie,Apollo 11,Apollo 11,0.0,2019.0,NaN,93.0,"Documentary,History",...,3.0,nm0004696,archive_footage,NaN,"[""Self - Lunar Module Pilot""]",Buzz Aldrin,1930.0,NaN,"actor,miscellaneous,writer","tt1399103,tt1872220,tt0898266,tt8760684"
1531,1531,tt8760684,movie,Apollo 11,Apollo 11,0.0,2019.0,NaN,93.0,"Documentary,History",...,4.0,nm0805654,archive_footage,NaN,"[""Self - Director of Flight Crew Operations""]",Deke Slayton,1924.0,1993.0,writer,"tt0270656,tt0170980,tt0347717,tt0124010"
3339,3339,tt10256238,movie,Created Equal: Clarence Thomas in His Own Words,Created Equal: Clarence Thomas in His Own Words,0.0,2020.0,NaN,116.0,"Biography,Documentary",...,2.0,nm0081182,archive_footage,NaN,"[""Self""]",Joe Biden,1942.0,NaN,actor,"tt0106172,tt9894116,tt1266020,tt8289196"
3340,3340,tt10256238,movie,Created Equal: Clarence Thomas in His Own Words,Created Equal: Clarence Thomas in His Own Words,0.0,2020.0,NaN,116.0,"Biography,Documentary",...,3.0,nm0384043,archive_footage,NaN,"[""Self""]",Anita Hill,1956.0,NaN,NaN,"tt14573272,tt7152912,tt5795282,tt9134666"
3406,3406,tt8574836,movie,Cunningham,Cunningham,0.0,2019.0,NaN,93.0,"Biography,Documentary,Music",...,2.0,nm0128509,archive_footage,NaN,"[""Self""]",John Cage,1912.0,1992.0,"composer,music_department,writer","tt1130884,tt0039340,tt0166191,tt6106076"
3940,3940,tt8884430,movie,Echo in the Canyon,Echo in the Canyon,0.0,2018.0,NaN,82.0,"Documentary,Music",...,3.0,nm1274814,archive_footage,NaN,"[""Themselves""]",The Beach Boys,1961.0,NaN,"soundtrack,music_department,composer","tt0453467,tt1131729,tt3890160,tt0259711"
4141,4141,tt8632862,movie,Fahrenheit 11/9,Fahrenheit 11/9,0.0,2018.0,NaN,128.0,Documentary,...,1.0,nm5029882,archive_footage,NaN,"[""Self""]",Jim Acosta,1971.0,NaN,actor,"tt2463670,tt0476038,tt0165001,tt1856010"
4142,4142,tt8632862,movie,Fahrenheit 11/9,Fahrenheit 11/9,0.0,2018.0,NaN,128.0,Documentary,...,2.0,nm0014614,archive_footage,NaN,"[""Self""]",Roger Ailes,1940.0,2017.0,"producer,director,executive","tt9173106,tt0170980,tt0185800,tt1028569"
5400,5400,tt5804038,movie,I Am Not Your Negro,I Am Not Your Negro,0.0,2016.0,NaN,93.0,"Documentary,History",...,2.0,nm0049924,archive_footage,NaN,"[""Self""]",James Baldwin,1924.0,1987.0,"writer,miscellaneous","tt2354049,tt7125860,tt0176357,tt5804038"
5402,5402,tt5804038,movie,I Am Not Your Negro,I Am Not Your Negro,0.0,2016.0,NaN,93.0,"Documentary,History",...,3.0,nm0455052,archive_footage,NaN,"[""Self""]",Martin Luther King,1929.0,1968.0,"soundtrack,writer","tt0463998,tt10145216,tt0151905,tt0061834"
5403,5403,tt5804038,movie,I Am Not Your Negro,I Am Not Your Negro,0.0,2016.0,NaN,93.0,"Documentary,History",...,4.0,nm0944318,archive_footage,NaN,"[""Self""]",Malcolm X,1925.0,1965.0,"writer,soundtrack","tt0104797,tt0236552,tt0068903,tt0434409"
6190,6190,tt2382298,movie,Life Itself,Life Itself,0.0,2014.0,NaN,121.0,"Biography,Documentary",...,3.0,nm0803021,archive_footage,NaN,"[""Self""]",Gene Siskel,1946.0,1999.0,"actor,writer","tt0108734,tt0075583,tt0103466,tt0090523"
6429,6429,tt8879946,movie,Maiden,Maiden,0.0,2018.0,NaN,97.0,"Biography,Documentary,Sport",...,1.0,nm10921586,archive_footage,NaN,"[""Self""]",Frank Bough,NaN,NaN,NaN,NaN
6432,6432,tt8879946,movie,Maiden,Maiden,0.0,2018.0,NaN,97.0,"Biography,Documentary,Sport",...,4.0,nm10921617,archive_footage,NaN,"[""Self""]",Pat Edwards,NaN,NaN,NaN,NaN
6954,6954,tt5938950,movie,Mystify: Michael Hutchence,Mystify: Michael Hutchence,0.0,2019.0,NaN,102.0,"Biography,Documentary,Music",...,2.0,nm0005280,archive_footage,NaN,"[""Self""]",Rosie O'Donnell,1962.0,NaN,"actress,writer,producer","tt0108160,tt0104694,tt0109813,tt0120855"
7114,7114,tt10334456,movie,Once Were Brothers,Once Were Brothers: Robbie Robertson and The Band,0.0,2019.0,NaN,100.0,"Biography,Documentary,History",...,1.0,nm1408415,archive_footage,NaN,"[""Themselves""]",The Band,NaN,NaN,soundtrack,"tt0790712,tt2103281,tt3799694,tt0407887"
7116,7116,tt10334456,movie,Once Were Brothers,Once Were Brothers: Robbie Robertson and The Band,0.0,2019.0,NaN,100.0,"Biography,Documentary,History",...,4.0,nm0200313,archive_footage,NaN,"[""Self - Bass and Vocals, The Band""]",Rick Danko,1943.0,1999.0,"soundtrack,actor,music_department","tt0077838,tt2112096,tt0386158,tt1049402"
7353,7353,tt6964076,movie,Pavarotti,Pavarotti,0.0,2019.0,NaN,114.0,"Biography,Documentary,Music",...,1.0,nm0667556,archive_footage,NaN,"[""Self""]",Luciano Pavarotti,1935.0,2007.0,"soundtrack,actor,director","tt1167638,tt0084931,tt0328107,tt2379713"
10061,10061,tt7681902,movie,Won't You Be My Neighbor?,Won't You Be My Neighbor?,0.0,2018.0,NaN,95.0,"Biography,Documentary",...,1.0,nm0736872,archive_footage,NaN,"[""Self""]",Fred Rogers,1928.0,2003.0,"actor,soundtrack,writer","tt0250165,tt0062588,tt0104437,tt0078841"